# Supabase
# Supabase プロジェクトのURLを設定
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url

# Supabase の公開可能な Key（クライアント側で使用）
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Supabase のサービスロールキー（サーバー側でのみ使用）
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
